# Node modules
node_modules/

# Hardhat files
cache/
artifacts/

# Environment variables
.env

# Debugger working directories
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# npm
#package-lock.json